.cate-btn{
    margin: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.card-body{
    display: flex;
    margin-top: 10px;
    
}

.profile{
    /* display: flex; */
    margin-left: 10px;
    
}
.title{
    font-weight: bold;
}
.card{
    
    border-radius: 50px;
}
.card-img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.profile-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.noData{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50vh;
}
.noData-img{
    width: 50%;
    height: 300px;
    
}
